{% extends 'PoeCoreBundle::layout.html.twig' %}

{% block content %}
<form method=GET action="{{ path('poe_core_item_search') }}">
    {{ form_widget(form) }}

    <button class="btn btn-danger" type=submit>Search</button>
</form>

<h3>Results <small class="muted">( {{ pager.count|number_format }} )</small></h3>

{{ msi_pager_render(pager) }}
<table class="table table-striped">
    <tr>
        <th class="span4">Item</th>
        <th class="span1">DPS</th>
        <th class="span2">Physical</th>
        <th class="span2">Elemental</th>
        <th class="span1">Armour</th>
        <th class="span1">ER</th>
        <th class="span1">ES</th>
    </tr>
{% for item in items %}
    <tr>
        <td>
            <a class="text-frame-type-{{ item.frameType }}" target="_blank" href="http://www.pathofexile.com/forum/view-thread/{{ item.threadId }}">
                {{ item.name ?: item.type }}
            </a>
            <br>
            <small>{{ item.name ? item.type : item.type.parent }}</small>
            {% if item.type.parent.name == 'Gem' and item.quality %}( {{ item.quality }}% ){% endif %}
            <br>
            <small>
                Req:
                {% if item.lvlReq %}<span class="muted">Lvl: {{ item.lvlReq }}</span>{% endif %}
                {% if item.strReq %}<span class="text-error">Str: {{ item.strReq }}</span>{% endif %}
                {% if item.dexReq %}<span class="text-success">Dex: {{ item.dexReq }}</span>{% endif %}
                {% if item.intReq %}<span class="text-info">Int: {{ item.intReq }}</span>{% endif %}
            </small>
        </td>
        <td>{{ item.dps|number_format(1) }}</td>
        <td>{% if item.minPhysicalDamage %}{{ item.minPhysicalDamage }}-{{ item.maxPhysicalDamage }}{% endif %}</td>
        <td>
            {% if item.minFireDamage %}
                <small class="text-error">{% if item.minFireDamage %}{{ item.minFireDamage }}-{{ item.maxFireDamage }} ( ~{{ (item.maxFireDamage - item.minFireDamage) / 2 + item.minFireDamage }} ){% endif %}</small>
                {% if item.minColdDamage or item.minLightningDamage %}<br>{% endif %}
            {% endif %}
            {% if item.minColdDamage %}
                <small class="text-info">{% if item.minColdDamage %}{{ item.minColdDamage }}-{{ item.maxColdDamage }} ( ~{{ (item.maxColdDamage - item.minColdDamage) / 2 + item.minColdDamage }} ){% endif %}</small>
                {% if item.minLightningDamage %}<br>{% endif %}
            {% endif %}
            {% if item.minLightningDamage %}
                <small class="text-warning">{% if item.minLightningDamage %}{{ item.minLightningDamage }}-{{ item.maxLightningDamage }} ( ~{{ (item.maxLightningDamage - item.minLightningDamage) / 2 + item.minLightningDamage }} ){% endif %}</small>
            {% endif %}
        </td>
        <td>{{ item.armour }}</td>
        <td>{{ item.evasionRating }}</td>
        <td>{{ item.energyShield }}</td>
    </tr>
{% endfor %}
</table>
{{ msi_pager_render(pager) }}
{% endblock content %}
