{% extends 'PoeCoreBundle::layout.html.twig' %}

{% block content %}
<div id="sidebar">
    <h3>Search</h3>

    <form novalidate method=GET action="{{ path('poe_core_item_search') }}">
        {% form_theme form 'PoeCoreBundle:Form:form.html.twig' %}
        {{ form_widget(form.league) }}
        <div class="row">
            <div class="span2" style="width: 120px;">
                {{ form_widget(form.type) }}
            </div>
            <div class="span1" style="width: 80px;">
                {{ form_widget(form.frameType) }}
            </div>
        </div>

        {{ form_widget(form.name) }}

        <div class="row">
            <div class="span2" style="width: 150px;">
                <p><small>Property</small></p>
                {{ form_errors(form.prop1) }}
                {{ form_widget(form.prop1) }}
                {{ form_widget(form.prop2) }}
                {{ form_widget(form.prop3) }}
            </div>
            <div class="span1" style="width: 50px;">
                <p><small>Min</small></p>
                <div class="poe_search_prop1_chzn">{{ form_widget(form.prop1val) }}</div>
                <div class="poe_search_prop2_chzn">{{ form_widget(form.prop2val) }}</div>
                <div class="poe_search_prop3_chzn">{{ form_widget(form.prop3val) }}</div>
            </div>
        </div>

        <div class="row">
            <div class="span2" style="width: 150px;">
                <p><small>Mod</small></p>
                {{ form_widget(form.mod1) }}
                {{ form_widget(form.mod2) }}
                {{ form_widget(form.mod3) }}
                {{ form_widget(form.mod4) }}
                {{ form_widget(form.mod5) }}
                {{ form_widget(form.mod6) }}
            </div>
            <div class="span1" style="width: 50px;">
                <p><small>Min</small></p>
                <div class="poe_search_mod1_chzn">{{ form_widget(form.mod1val) }}</div>
                <div class="poe_search_mod2_chzn">{{ form_widget(form.mod2val) }}</div>
                <div class="poe_search_mod3_chzn">{{ form_widget(form.mod3val) }}</div>
                <div class="poe_search_mod4_chzn">{{ form_widget(form.mod4val) }}</div>
                <div class="poe_search_mod5_chzn">{{ form_widget(form.mod5val) }}</div>
                <div class="poe_search_mod6_chzn">{{ form_widget(form.mod6val) }}</div>
            </div>
        </div>

        {{ form_rest(form) }}
        <button class="btn" type=submit>Search</button>
        <a class="btn" href="{{ path('poe_core_item_search') }}">Reset</a>
    </form>
</div>

<div id="content">
    <div class="row-fluid">
        <div class="span12">
            <h3>Results</h3>

            {% if items|length %}
            <table class="table table-bordered">
                <tr>
                    <th>Item</th>
                    <th>DPS</th>
                    <th>Physical</th>
                    <th>Elemental</th>
                    <th>Armour</th>
                    <th>ER</th>
                    <th>ES</th>
                </tr>
            {% for item in items %}
                <tr>
                    <td>
                        <a class="item text-frame-type-{{ item.frameType }}" target="_blank" href="http://www.pathofexile.com/forum/view-thread/{{ item.threadId }}">
                            {{ item.name ?: item.type }}
                        </a>
                        {#<small>{{ item.name ? item.type : item.type.parent }}</small>#}
                        <br>
                        <small>
                            Req:
                            {% if item.lvlReq %}<span class="muted">Lvl: {{ item.lvlReq }}</span>{% endif %}
                            {% if item.strReq %}<span class="text-error">Str: {{ item.strReq }}</span>{% endif %}
                            {% if item.dexReq %}<span class="text-success">Dex: {{ item.dexReq }}</span>{% endif %}
                            {% if item.intReq %}<span class="text-info">Int: {{ item.intReq }}</span>{% endif %}
                        </small>
                    </td>
                    <td>{{ item.dps|number_format }}</td>
                    <td>
                        {% if item.averagePhysicalDamage %}
                            <small class="muted">{{ item.minPhysicalDamage }}-{{ item.maxPhysicalDamage }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.averageFireDamage %}
                            <small class="text-error">{{ item.minFireDamage }}-{{ item.maxFireDamage }}</small>
                            {% if item.minColdDamage or item.minLightningDamage %}<br>{% endif %}
                        {% endif %}
                        {% if item.averageColdDamage %}
                            <small class="text-info">{{ item.minColdDamage }}-{{ item.maxColdDamage }}</small>
                            {% if item.minLightningDamage %}<br>{% endif %}
                        {% endif %}
                        {% if item.averageLightningDamage %}
                            <small class="text-warning">{{ item.minLightningDamage }}-{{ item.maxLightningDamage }}</small>
                        {% endif %}
                    </td>
                    <td>{{ item.armour }}</td>
                    <td>{{ item.evasionRating }}</td>
                    <td>{{ item.energyShield }}</td>
                    {#<td>{{ item.id }}</td>
                    <td>{{ item.type.parent }} {{ item.type }}</td>#}
                </tr>
            {% endfor %}
            </table>
            {{ msi_pager_render(pager) }}
            {% else %}
            Nothing was found.
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ parent() }}
<script src="https://github.com/brandonaaron/jquery-mousewheel/raw/master/jquery.mousewheel.js"></script>
<script>
    $(function() {
        $.each($('.chzn-results'), function(i, v) {
            var $v = $(v),
                height = $v.height(),
                scrollHeight = $v.get(0).scrollHeight;

            $v.on('mousewheel', function(e, d) {
                if((this.scrollTop === (scrollHeight - height) && d < 0) || (this.scrollTop === 0 && d > 0)) {
                    e.preventDefault();
                }
            });
        });
    });

    $("select.none").chosen({
        placeholder_text_single: 'None',
        placeholder_text_multiple: 'None',
        allow_single_deselect: true
    });

    $("select.all").chosen({
        placeholder_text_single: 'All',
        placeholder_text_multiple: 'All',
        allow_single_deselect: true
    });

    $('.item').popover({
        trigger: 'hover',
        content: 'dada',
        animation: false
    })

    $('input.alert-error').tooltip({
        trigger: 'hover',
        html: true,
        animation: false
    })

    $('.chzn-container-single .chzn-single').on('mousedown', function(evt) {
        if ($(evt.target).hasClass("search-choice-close")) {
            var id = $(this).closest('div').attr('id');
            $('div.'+id).children('input').attr('value', '');
        }
    });

    $('.pagination').on('click', 'a', function(e) {
        e.preventDefault();
        $.ajax($(this).attr('href'), {
            success: function(data) {
                $('#content').html($(data).find('#content').html());
            }
        });
    });

    (function($) {
        "use strict";
        var ready = true;

        $(window).on('keyup', function(e) {
            e.preventDefault();
            if ((e.which === 39 || e.which === 37) && ready === true) {
                ready = false;
                var $ul = $('.pagination ul');
                var current = $ul.children('li.active').children().attr('href');

                if (e.which === 39) {
                    var url = $ul.children('li.active').next().children().attr('href');
                    if (current === url) {
                        url = $ul.children().first().next().children().attr('href');
                    }
                } else {
                    var url = $ul.children('li.active').prev().children().attr('href');
                    if (current === url) {
                        url = $ul.children().last().prev().children().attr('href');
                    }
                }

                $.ajax(url, {
                    success: function(data) {
                        $('#content').html($(data).find('#content').html());
                        ready = true;
                    }
                });
            }
        });
    })(jQuery);
</script>
{% endblock js %}
